<?xml version="1.0" encoding="UTF-8"?>
<escenic version="2.0" xmlns="http://xmlns.escenic.com/2009/import">
    <section-page source="ece-auto-gen" sourceid="5d2ba92a-eb20-476b-81d0-17dec4bc20e2" unique-name="config" name="Config" layout-name="config" action="remove">
        <options>
            <field name="asideposition">
                <value>right</value>
            </field>
            <field name="area_split">
                <value>8_4</value>
            </field>
        </options>
        <area name="outer">
            <options>
                <field name="loadingpolicy">
                    <value>onPage</value>
                </field>
                <field name="htmltag">
                    <value>div</value>
                </field>
            </options>
        </area>
        <area name="header">
            <options>
                <field name="loadingpolicy">
                    <value>onPage</value>
                </field>
                <field name="htmltag">
                    <value>header</value>
                </field>
            </options>
        </area>
        <area name="top">
            <options>
                <field name="loadingpolicy">
                    <value>onPage</value>
                </field>
                <field name="htmltag">
                    <value>div</value>
                </field>
                <field name="showtoparea">
                    <value>true</value>
                </field>
            </options>
            <group name="row" label="Row">
                <area name="row-area">
                    <content-ref source="ece-auto-gen" sourceid="725a7d99-6c57-4ee7-b74c-c9f4b3ccb490">
                        <field name="title">code</field>
                    </content-ref>
                </area>
                <options>
                    <field name="loadingpolicy">
                        <value>onPage</value>
                    </field>
                    <field name="htmltag">
                        <value>div</value>
                    </field>
                    <field name="referable">false</field>
                </options>
            </group>
        </area>
        <area name="main">
            <options>
                <field name="loadingpolicy">
                    <value>onPage</value>
                </field>
                <field name="htmltag">
                    <value>section</value>
                </field>
            </options>
        </area>
        <area name="aside">
            <options>
                <field name="loadingpolicy">
                    <value>onPage</value>
                </field>
                <field name="htmltag">
                    <value>aside</value>
                </field>
            </options>
        </area>
        <area name="bottom">
            <options>
                <field name="loadingpolicy">
                    <value>onPage</value>
                </field>
                <field name="htmltag">
                    <value>div</value>
                </field>
                <field name="showbottomarea">
                    <value>true</value>
                </field>
            </options>
        </area>
        <area name="footer">
            <options>
                <field name="loadingpolicy">
                    <value>onPage</value>
                </field>
                <field name="htmltag">
                    <value>footer</value>
                </field>
            </options>
        </area>
    </section-page>
</escenic>
